.card__bookingAdmin {
    border-radius: 12px;
    border-top-right-radius: 12px;
    width: 300px;
    background-color: var(--color-card-event);
    margin: 5%;
    height: 400px;
    

}


.topPartBooking {
    display: flex;
    flex-direction: column;
    background-image: url("/View/Public/Images/bookinglogo.png");
    background-position: center;
    background-repeat: no-repeat;
    color:black;
    font-weight: bold;
    width: 100%;
    height: 50%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}



.bottomPartBooking {
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    padding-top: 5%;
    background-color: white;
    padding-right: 2%;
    padding-bottom: 5%;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.infosEvent {
    width: 50%;
    
    text-align: center;
}

.descriptionEventB {
    font-size: bolder;
    width: 100%;
    height: 50%;
}




.confirmation {
    display: none; 
    flex-direction: column;
    align-items: center;
    padding: 5%;
    width: 82%;
    height: 17%;
    top: 45%;
    left:9%;
    color: white;
    border-radius: 5px;

    background-color: black;
}

.answerContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.questionBookingTitle {
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding-bottom: 5%;
}


#buttonYes, .buttonNo {
    color: white;
    background-color: black;
    border: none;
    font-size: 16px;
    font-weight: bolder;
}

.buttonBooking2 {
    padding:7px;
    width: 100%;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    background-color: var(--color-button-booking);
}

@media (min-width: 768px) {

    .confirmation {
           
        padding: 5%;
        width: 60%;
        height: 20%;
        top: 45%;
        left:20%;
    }
  
}


  @media (min-width: 1050px) {

    .confirmation {
           
        padding: 2%;
        width: 30%;
        height: 15%;
        top: 30%;
        left:35%;
    }
   
  
  
  
  }