/* footer {
    display: flex;
     background-color: var(--color-primary); 
    height: 20%;
  
  } */
  

  
  
  
  
/* Pour les écrans moyens entre 375px et 425px */
/* @media screen and (max-width:576px) {
    footer {
  
      height: 123px;
     
    }
    

  
  
  
  } */
  
